@import "~src/style/kit/color";
@import "../styles/common";


:host ::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 44px;
}
.content {
  padding: 30px;
}
.width-auto{
  width: auto;
}
.dataTables_info{
  padding-top: 0.85rem;
}
.text-error{
  color: #dc3545;
  font-size: 16px;
}
.error-fullname{
  margin-top: -10px;
}
/* #candidateList tr.odd td.dataTables_empty{
	display: none!important;
} */
.text-error{
  font-size: 14px;
}
.white-space-wrap{
  white-space: pre-wrap;
}
.scroll-body-dialog{
  height: 70vh;
  overflow-y: scroll;
}

.delete-candidate {
  position: relative;
  transform: translateY(40%);
}

:host ::ng-deep .p-multiselect {
  width: 100%;
}


.btnCancel {
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #EFC427;
  color: #535453;
  margin-right: 8px;
}

.btnSave {
  background: #EFC427;
  border-radius: 4px;
  color: #535453;
}

.button-right{
  padding: 1.5rem 1.5rem;
}

.btnCancel:focus {
  background: #EFC427;
}
.btnCancel:hover {
  background: #EFC427;
}

table, th, td {
  border: 1px solid #dee2e6;
}

.w-2 {
  width: 2%;
}

.w-3 {
  width: 3%;
}

.w-5 {
  width: 5%;
}

.w-6 {
  width: 6%;
}

.w-7 {
  width: 7%;
}

.w-9 {
  width: 9%;
}

.w-10 {
  width: 10%;
}

.w-12 {
  width: 12%;
}

.w-18 {
  width: 18%;
}

.w-20 {
  width: 20%;
}

.row-title {
  color: black;
}
