<div class="container-fluid">
    <app-total-employee-presence-individual [workingStatus]="workingStatus"></app-total-employee-presence-individual>
    <div class="row">
        <div class="col-sm-8">
            <div class="d-flex" style="padding-top: 35px">
                <div style="padding-right: 16px">
                    <a class="btn btn-success w-100" tabindex="0" (click)="showModalRegisterOnsiteRemote()"
                    >{{'timeManager.totalEmployee.register_onsite_remote' | translate}}</a>
                </div>
                <div>
                    <a class="btn btn-success w-100" tabindex="0" (click)="showModalListOnsiteRemote()"
                    >{{'timeManager.totalEmployee.follow_register_onsite_remote' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <app-check-in-check-out (checkinEvent)="checkinEvent($event)"
                                    (numberCheckoutEvent)="checkoutEvent($event)"></app-check-in-check-out>
        </div>
    </div>
    <app-history class="presence-box" [showHeader]="false" [isTabManager]="false" [checkinEvent]="isCheckinEvent"
                 [numberCheckoutEvent]="numberCheckoutEvent"
                 (totalInformationInMonth)="reciveInformation($event)"></app-history>
</div>
