.today {
  padding: 8px 35px;
  background: #FFFFFF;
}

.list-type-item {
  padding-left: 15px;
}

.float-left {
  float: left;
}

.clear-both {
  clear: both
}

.header-time {
  font-size: 24px !important;
  color: #A8A9A9 !important;
}

.currentTime {
  border: 1px solid #EFC427;
  border-radius: 4px;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.presence-status-onsite {
  color: #DFB002;
}

.presence-status-remote {
  color: #1B8FC3;
}

.presence-status-ot {
  color: #8E18C6;
}

.presence-status-leave {
  color: #DF5245;
}

.presence-status-attendance {
  color: #85AA75;
}

.presence-time {
  color: black;
}

.active-link {
  color: #252929;
}

.back-link {
  color: #A8A9A9;
  cursor: pointer;
}

.disable-next-time {
  color: #A8A9A9;
  cursor: not-allowed;
}

.form-control{
  font-size: 16px !important;
}

.current-month-title {
   font-weight: 600;
}

.current-month-title-color{
  color: #535453;
  font-weight: 600;
}

.bold-text {
  color: black !important;
}


