<div class="col-md-12 p-custom-24">
    <div class="table-responsive">
        <table class="table table-striped table-hover custom-table datatable dataTable text-center">
            <thead class="w-100 inline-table-d">
            <tr class="stickyHeader">
                <th class="alg-center" style="width: 6%;">
                    {{ "timeManager.summary.No." | translate }}</th>
                <th class="text-left" style="width: 15%;">
                    {{ "timeManager.search_form.table.employee_code" | translate }}</th>
                <th class="text-left" style="width: 26%;">
                    {{"timeManager.list_checkin_checkout.table.input_employee_name"| translate
                  }}</th>
                <th class="text-left" style="width: 20%;">
                    {{ "timeManager.list_checkin_checkout.table.team" | translate }}</th>
                <th class="text-left" style="width: 26%;">
                    {{ "employees.modal.working_status" | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="presenceList?.length == 0" style="display: grid">
                <td class="text-center">{{'workingOnleave.list.recordNotFound' | translate}}</td>
            </tr>
            <tr *ngFor="let presence of presenceList, let key = index" style="display: flex">
                <td class="alg-center might-overflow with1 might-overflow" style="width: 5%;">{{key + 1}}</td>
                <td class="text-left might-overflow with2 might-overflow" style="width: 15%;">{{presence.employeeCode}}</td>
                <td class="text-left might-overflow with3 might-overflow" style="width: 28%;">{{presence.fullName}}</td>
                <td class="text-left might-overflow with4 might-overflow" style="width: 22%;">{{presence.teamName}}</td>
                <td class="text-left might-overflow with5 might-overflow"
                    style="width: 26%;">{{ getWorkingType(presence.workType) | translate }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--Button-->
    <div class="row footer pt-38">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <button class="btn btn-primary btnSave w-100" type="button">Export</button>
        </div>
    </div>
    <!--    Button-->
</div>
