.text-white {
  color: white;
}

.content {
  padding: 30px;
}

.b-l-r-b-white {
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid white !important;
}

.b-l-r-white {
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
}

.b-l-r-line {
  border-left: 1px solid #CFD1D1 !important;
  border-right: 1px solid #CFD1D1 !important;
}

.h-center {
  line-height: 65px;
}

.cusor-d {
  cursor: default;
}

.border-radius-table {
  border-radius: 8px;
}