@import "~src/style/kit/color";
@import "../styles/common";

.content {
	padding: 30px;
}

:host{
	height: 100%;
	display: flex;
	flex-direction: column;
}

.title_lable{
	color: black;
}

.form-button button:not(:last-child) {
	margin-right: 1rem;
}
.upload {
	border: #A9E2F3 dashed 1px;
	min-height: 140px !important;
}

.btnCancel:focus {
	background: #EFC427;
}
.btnCancel:hover {
	background: #EFC427;
}


.my-style{
	height: auto !important;
	width: 100% !important;
}

.result {
	background: $color-primary-6;
	border-radius: 6px;
}
.horizontal-line {
	height: 7px;
	border: 1px solid $color-neutral-4;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
}

.horizontal-line.up {
	top: -6px;
}

.horizontal-line.down {
	bottom: -6px;
}

.up-button .label-text {
	flex: 0 0 45%;
	max-width: 45%;
}
.up-button .label-or {
	flex: 0 0 10%;
	max-width: 10%;
}
.up-button .btn-choose-file {
	flex: 0 0 45%;
	max-width: 45%;
}
.name-file-upload {
	position: relative;
}
.name-file-upload::before {
	content: "";
	background-image: url("~src/assets/img/icon/excel.svg");
	background-size: 20px 25px;
	position: absolute;
	display: inline-block;
	background-repeat: no-repeat;
	width: 20px;
	height: 25px;
	top: 0px;
	left: -30px;
}

.detail-wrap {

	.field-wrap {
		background-color: $color-primary-7;
		border-radius: 6px;
		padding: 10px;
		margin-bottom: 20px;
		margin-top: 20px;
		.row {
			margin: 0;
		}

		.field-label {
			padding: 10px;
			display: flex;
			align-items: center;
			label {
				margin-bottom: 0;
				color: $color-neutral-2;
			}

			.status-cycle {
				width: 10px;
				height: 10px;
				margin-right: 8px;
				background-color: $color-accent-green-2;
				border-radius: 50%;
			}
			.status-processed {
				background: $color-accent-green-2;
			}
			.status-processing {
				background: $color-accent-orange-2;
			}
			.status-no-process {
				background: $color-accent-red-1;
			}
			.status-closed {
				background: $color-neutral-3;
			}
		}
	}

	.feedback-content-wrap {
		.content-title {
			font-size: 14px;
			color: $color-primary-4;
		}

		.content-str {
			padding-top: 10px;
		}
	}
}

.table-result {
	border: 0.5px solid #E8E8E8;

	thead {
		background: #F6F6F6;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;

		color: #707070;

		th {
		}
	}

	tbody {
		tr {
			box-shadow: 0px 1px 0px #E8E8E8;
		}
	}
}
.image-empty {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.custom-modal{
	overflow-y: auto;
}
.table th, .table td {
	border-right: 1px solid #dee2e6;
}

.modal .modal-left {
	position: absolute;
	margin: auto;
	max-width: 80%;
	min-width: 400px;
	width: 1000px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);

}
.status-cycle {
	width: 10px;
	height: 10px;
	margin-right: 8px;
	background-color: $color-accent-green-2;
	border-radius: 50%;
	margin-top: 5px;
}
.status-processed {
	background: $color-accent-green-2;
}
.status-processing {
	background: $color-accent-orange-2;
}
.status-no-process {
	background: $color-accent-red-1;
}
.status-closed {
	background: $color-neutral-3;
}

.uploadfilecontainer {
	color: transparent;
	background-color: transparent !important;
	height: 120px;
	width: 47%;
	position: absolute
}

.files-list {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 10px auto;
	background: #ffffff;
	border: 1px dashed;
	border-radius: 12px;
	padding: 5px;
	color: #1c8adb;
}

.files-list .delete-file {
	background: transparent;
	border: none;
	cursor: pointer;
}

.files-list .delete-file img {
	width: 30px;
}

:host {
	.dropdown-custom {
		width: fit-content;
		position: relative;
	}

	.dropdown-menu-custom {
		left: 50% !important;
		transform: translateX(-50%) !important;
		white-space: nowrap;
	}

	height: 100%;
	display: flex;
	flex-direction: column;

	.modal-header {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		box-shadow: 0px 1px 0px #E8E8E8;

		.modal-title {
			font-weight: bold;
			font-size: 18px;
			color: #1E1E1E;
			text-transform: uppercase;
		}

		.sidebar-act-icon {
			display: flex;
			color: #707070;

			.sidebar-close {
				cursor: pointer;
				display: flex;
				align-items: center;
			}

			.sidebar-expand {
				display: flex;
				align-items: center;
				cursor: pointer;
				margin-right: 1em;
			}
		}
	}

	.modal-body {
		flex: 1 1 auto;
		flex-grow: 1;
		overflow-y: auto;
		position: relative;
		overflow-x: hidden;

		.font-style-1 {
			font-weight: 600;
			margin-bottom: .5em;
		}

		.form-control {
			margin-bottom: 1em;

			&:focus {
				box-shadow: unset;
			}

			&[readonly] {
				background: transparent;
			}


		}
	}

	.modal-footer {
		flex: 0 0 auto;
		display: flex;
		justify-content: flex-end;
		box-shadow: 0px -1px 0px #E8E8E8;

		.btn {
			cursor: pointer;
		}

		.btn-default {
			color: #4674eb;

			&:hover {
				background: #e6e6e694;
			}
		}
	}

}

.width15{
	width: 15%;
}

.width-fit-content{
	width: fit-content;
}

.title-lable {
	color: black;
}

.box-upload {
	width: 100%;
}

.lable-or {
	color: #C8CBCD;
}

.btnSave {
	background: #EFC427;
	border-radius: 4px;
	color: #535453;
}

.btnCancel {
	background: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #EFC427;
	color: #535453;
	margin-right: 8px;
}

.align-right{
	text-align: right;
}

.title-total {
	width: 140px;
	height: 24px;
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	display: flex;
	align-items: center;
	color: #252929;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.title-success {
	width: 229px;
	height: 24px;

	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	display: flex;
	align-items: center;
	color: #85AA75;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.title-failure {
	width: 211px;
	height: 24px;
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	display: flex;
	align-items: center;
	color: #DF5245;
	flex: none;
	order: 2;
	flex-grow: 0;
}

.icon-delete {
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}


.filter-row .btn {
	min-height: 50px;
	padding: 12px;
	text-transform: none;
	font-weight: 600;
}
