
<!-- Personal Info Modal -->
<div [id]="idModal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{"EmployeeProfile.personDepencency.title" | translate}}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <form [formGroup]="familyFormList" novalidate >
                    <div formArrayName="list" class="form-scroll">
                        <ng-container *ngFor="let item of listForm.controls; let i = index;" >
                            <div class="card">
                                <div class="card-body">
                                    <div class="row" [formGroup]="item">
                                        <h3 class="card-title"><a class="delete-icon" (click)="removeFamily(i)"><i class="fa fa-trash-o"></i></a></h3>
                                            <div class="col-md-6">
                                                <div class="form-group" >
                                                    <label>{{"EmployeeProfile.personDepencency.fullName" | translate}} <span class="text-danger">*</span></label>
                                                    <input [id]="'familyForm_institution_' + i" maxlength="200" formControlName="name" type="text" class="form-control" value="Jonh"
                                                    id="firstNameEditForm" (blur)="onBlur('name', i)" placeholder="{{'EmployeeProfile.personDepencency.phFullName' | translate}} "
                                                        [class.is-invalid]="(item.controls['name']?.dirty 
                                                                || item.controls['name']?.touched) 
                                                                && item.controls['name']?.invalid" />
                                                    <div *ngIf="item.controls['name']?.errors?.maxlength" class="text-danger error-info">{{"EmployeeProfile.personDepencency.requireMaxLenFullName" | translate}}</div>
                                                    <div *ngIf="(item.controls['name']?.dirty  
                                                    || item.controls['name']?.touched) 
                                                    && item.controls['name']?.errors?.required" 
                                                    class="text-danger error-info">{{"EmployeeProfile.personDepencency.requireFullName" | translate}}</div>
                                                    <div *ngIf="(item.controls['name']?.dirty 
                                                    || item.controls['name']?.touched) 
                                                    && item.controls['name']?.errors?.pattern" 
                                                    class="text-danger error-info">{{"EmployeeProfile.personDepencency.requirePattenFullName" | translate}}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{"EmployeeProfile.personDepencency.relationship" | translate}}<span class="text-danger">*</span></label>
                                                    <select formControlName="relationship" class="form-select form-control"
                                                    [class.is-invalid]="(item.controls['relationship']?.dirty 
                                                                || item.controls['relationship']?.touched) 
                                                                && item.controls['relationship']?.invalid">
                                                        <option value="">{{"EmployeeProfile.personDepencency.selectRelation" | translate}}</option>
                                                        <option *ngFor="let rela of EMPLOYEE_RELATIONSHIP;" [value]="rela.code">{{ rela.name }}</option>
                                                    </select>
                                                    <div *ngIf="(item.controls['relationship']?.dirty 
                                                    || item.controls['relationship']?.touched) 
                                                    && item.controls['relationship']?.errors?.required" 
                                                    class="text-danger error-info">{{"EmployeeProfile.personDepencency.requireRelation" | translate}}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{"EmployeeProfile.personDepencency.gender" | translate}}<span class="text-danger">*</span></label>
                                                    <select formControlName="gender" class="form-select form-control"
                                                    [class.is-invalid]="(item.controls['gender']?.dirty 
                                                                || item.controls['gender']?.touched) 
                                                                && item.controls['gender']?.invalid">
                                                        <option value="">{{"EmployeeProfile.personDepencency.selectGender" | translate}}</option>
                                                        <option *ngFor="let gender of GENDER;" [value]="gender.code">{{ gender.name }}</option>
                                                    </select>
                                                    <div *ngIf="(item.controls['gender']?.dirty 
                                                    || item.controls['gender']?.touched) 
                                                    && item.controls['gender']?.errors?.required" 
                                                    class="text-danger error-info">{{"EmployeeProfile.personDepencency.requireGender" | translate}}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{"EmployeeProfile.personDepencency.phone" | translate}}</label>
                                                    <input formControlName="phone" class="form-control" 
                                                    [placeholder]="'EmployeeProfile.personDepencency.placeholderPhone' | translate" maxlength="10"
                                                    [class.is-invalid]="(item.controls['phone']?.dirty 
                                                    || item.controls['phone']?.touched) 
                                                    && item.controls['phone']?.invalid" />
                                                    <div *ngIf="item.controls['phone']?.errors?.maxlength" class="text-danger">
                                                        {{"EmployeeProfile.personDepencency.requireMaxLenPhone" | translate}}</div>
                                                    <div *ngIf="(item.controls['phone']?.dirty 
                                                    || item.controls['phone']?.touched) 
                                                    && item.controls['phone']?.errors?.startWithZero" 
                                                    class="text-danger">{{"EmployeeProfile.personDepencency.startWithZeroPhone" | translate}}</div>
                                                    <div *ngIf="(item.controls['phone']?.dirty 
                                                    || item.controls['phone']?.touched) 
                                                    && item.controls['phone']?.errors?.pattern" 
                                                    class="text-danger">{{"EmployeeProfile.personDepencency.requirePatternPhone" | translate}}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{"EmployeeProfile.personDepencency.birthday" | translate}} <span class="text-danger">*</span></label>
                                                    <div class="cal-icon">
                                                        <input formControlName="birthday" class="form-control datetimepicker" type="text" bsDatepicker
                                                            type="text"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',  returnFocusToInput: true, isAnimated: true }"
                                                            value="" placeholder="DD/MM/YYYY"
                                                            [maxDate]="currentDate"
                                                            [class.is-invalid]="(item.controls['birthday']?.dirty 
                                                                || item.controls['birthday']?.touched) 
                                                                && item.controls['birthday']?.invalid">
                                                            <div *ngIf="(item.controls['birthday']?.dirty 
                                                            || item.controls['birthday']?.touched) 
                                                            && item.controls['birthday']?.errors?.required" 
                                                            class="text-danger error-info">{{"EmployeeProfile.personDepencency.requireBirthday" | translate}}</div>
                                                            <div class="text-danger error-info" *ngIf="item.controls['birthday']?.errors?.maxDate">{{"EmployeeProfile.personDepencency.requireMaxDateBirthday" | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            
                        </ng-container>
                    </div>
                    <div class="add-more">
                        <a (mousedown)="addFamily()"><i class="fa fa-plus" [title]="'EmployeeProfile.addMore' |translate " ></i> {{'EmployeeProfile.addMore' |translate }} </a>
                    </div>
                </form>
                <div class="submit-section mb-3 d-flex justify-content-end">
                    <button class="btn btn-secondary submit-btn btnCancel" (click)="onCancel()">{{"EmployeeProfile.cancel" | translate}}</button>
                    <button class="btn btn-primary submit-btn btnSave" (click)="onSave()">{{"EmployeeProfile.save" | translate}}</button>
                </div>
            </div>
        </div>  
    </div>
</div>
<!-- /Personal Info Modal -->
