<div>
    <div class="modal-header header-bg">
        <div class="header-content content-header">
            <h3>{{'present.list.confirmApproveOnleaveInfo' | translate}}</h3>
        </div>
        <span (click)="closeModal()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </span>
    </div>

    <div class="modal-body">
        {{'present.list.confirmApproveOnleaveMultiInfoQuestion1' | translate}} {{selectedLeaveIds.length}} {{'present.list.confirmApproveOnleaveMultiInfoQuestion2' | translate}}
    </div>

    <div class="submit-section d-flex justify-content-end p-3">
        <button class="btn btn-secondary btnCancel m-r-5" type="button" (click)="closeModal()">{{'present.btn.cancel' | translate}}</button>
        <button class="btn btn-secondary btnSave m-r-5" type="button" (click)="confirm()">{{'present.btn.confirm' | translate}}</button>
    </div>
</div>
