<div class="modal-header">
  <strong>{{fileName}}</strong>
  <div class="sidebar-act-icon pull-right">
        <span aria-label="Close" (click)="closeModal()">
            <i class="fa fa-times cursor-pointer" aria-hidden="true"></i>
        </span>
  </div>
</div>

<div class="modal-body">
  <div class="pdf-viewer">
    <pdf-viewer [src]="pdfSrc" [page]="page" [show-all]="false" [zoom]="zoom"
      (after-load-complete)="afterLoadComplete($event)"></pdf-viewer>
  </div>
</div>
<div *ngIf="isLoaded" class="d-flex justify-content-between">
  <span class="nav-item nav-link cursor-pointer" (click)="prevPage()" [disabled]="page === 1">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </span>
  <span class="d-flex  justify-content-between">
    <a class="nav-item nav-link cursor-pointer" (click)="incrementZoom(-0.1)">
      <i class="fa fa-search-minus" aria-hidden="true"></i>
    </a>
    <a class="nav-item nav-link cursor-pointer" (click)="incrementZoom(0.1)">
      <i class="fa fa-search-plus" aria-hidden="true"></i>
    </a>
  </span>
  <span class="nav-item nav-link cursor-pointer" (click)="nextPage()" [disabled]="page === totalPages">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </span>
</div>
<div class="modal-footer">
  <div class="pull-right d-flex">
    <button class="btn btnCancel btn-primary submit-btn" (click)="closeModal()">{{ 'candidate.btn.close' | translate }}</button>
<!--    <button class="btn btnSave btn-primary submit-btn" (click)="downloadFile()">{{ 'candidate.btn.download' | translate }}</button>-->
  </div>
</div>
